doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title lorenzogrv.com
    //css_include(url.media())
    link(rel="stylesheet", type="text/css", href=url.media("/css/main.css"))
    | <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:300italic' rel='stylesheet' type='text/css'>
    script(src="/js/vendor/modernizr-2.6.2.min.js")
  body
    h1 lorenzogrv.com
    h2 websites from scratch
    nav
      a(href="#") Working philosophy
      a(href="#") Work experience
      a(href="#") Contact me
    cite Creativity should lead the design and development towards the main goal: user experience.
